*,*::before, *::after{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.05rem;
}

body {
padding: 0;
margin: 0;
}

.container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    text-align: center;
    
    
}
.btnDispositivo{
    border: none;
    border-radius: 10px;
    margin: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.25rem;
}
.rosso{
    background-color: red;
    color: white;
}
.verde{
    background-color: green;
    color: white;
}
.verdeChiaro{
    background-color: rgb(91, 161, 91);
    color: white;
}
.rossoChiaro{
    background-color: rgb(255, 116, 116);
    color: white;
}
.blu{
    background-color: rgb(23, 81, 255);
    color: white;
}
.grigio{
    background-color: rgb(137, 137, 137);
    color: white;
}
.device{
    background-color: rgb(233, 233, 233);
    margin-top: 100px;
    padding: 30px;
    border: none;
    border-radius: 20px;
}
.tabella{
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 2rem;
    background-color: rgb(233, 233, 233);
    padding: 0.75rem;
    border-collapse: collapse;
    overflow: hidden;
}
.btnRemove{
    border-radius: 10px;
    background-color: red;
    padding: 0.50rem;
    color: white;
    border: none;
}
th, td {
    padding: 0.75rem 1rem;
    text-align: left;
    font-size: 1rem;
  }

  th {
    background-color: rgb(23,81,255);
    color: white;
  }

input{
    width: 100%;
    padding: 0.4rem;
    font-size: 0.95rem;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 10px

}