*,*::before, *::after{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
padding: 0;
margin: 0;
}

.container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background-color: rgb(196, 196, 196);
}
button{
    border: none;
    border-radius: 50%;
    margin: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.rosso{
    background-color: red;
    color: white;
}
.verde{
    background-color: green;
    color: white;
}
.scrittaRossa{
    color: red;
}
.scrittaVerde{
    color: green;
}