*,*::before, *::after{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.05rem;
}

body {
padding: 0;
margin: 0;
}

.container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    text-align: center;
    background: #eed7ae;
    background: radial-gradient(circle, rgba(238, 215, 174, 1) 0%, rgba(148, 187, 233, 1) 100%);    
    
    
}

.btnDispositivo{
    border: none;
    border-radius: 10px;
    margin: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.25rem;
    width: 7rem;
}

.rosso{
    background-color: red;
    color: white;
    
}

.rosso:hover{
        background-color: rgb(213, 0, 0);
}

.verde{
    background-color: green;
    color: white;
}

.verde:hover{
        background-color: rgb(0, 86, 0);
}

.verdeScuro{
    background-color:seagreen;
    color: white;
}

.verdeScuro:hover{
    background-color: rgb(51, 131, 115);
}

.marrone{
    background-color: maroon;
    color: white;
}

.marrone:hover{
    background-color: rgb(86, 0, 0);
}

.blu{
    background-color: rgb(23, 81, 255);
    color: white;
}

.blu:hover{
    background-color: rgb(23,81,213);
}

.grigio{
    background-color: rgb(137, 137, 137);
    color: white;
}

.grigio:hover{
    background-color: rgb(119, 119, 119);
}

.device{
    background-color: rgb(233, 233, 233);
    margin-top: 100px;
    padding: 30px;
    border: none;
    border-radius: 20px;
}

.tabella{
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 2rem;
    background-color: rgb(233, 233, 233);
    padding: 0.75rem;
    border-collapse: collapse;
    overflow: hidden;
}

.btnRemove{
    border-radius: 10px;
    background-color: red;
    padding: 0.50rem;
    color: white;
    border: none;
    width: 7rem;
}

.btnRemove:hover{
    background-color: rgb(213, 0, 0);
}

th, td {
    padding: 0.75rem 1rem;
    text-align: left;
    font-size: 1rem;
}

th {
    background-color: rgb(23,81,255);
    color: white;
}

input{
    width: 100%;
    padding: 0.4rem;
    font-size: 0.95rem;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 10px;

}