*,*::before, *::after{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
padding: 0;
margin: 0;
}

.container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    text-align: center;
    
    
}
button{
    border: none;
    border-radius: 50%;
    margin: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.rosso{
    background-color: red;
    color: white;
}
.verde{
    background-color: green;
    color: white;
}
.device{
    background-color: rgb(196, 196, 196);
    margin-top: 100px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 50px;
}